<div class="jumbotron">
  <h1 class="display-4">Bem-vindo(a) ao blog NodeJS</h1>
  <p class="lead">Este é um BLOG desenvolvido com Node JS + Express + Mongo DB</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  </p>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">

        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}" class="btn btn-success">Leia mais</a>
        <hr>        
        <small>Categoria: {{categoria.nome}}</small> <br>
        <small>Data de publicação: {{data}}</small>       
        
    </div>
</div>
{{else}}
<h5>Nenhuma Postagem</h5>
{{/each}}